<nav class="w-screen bg-slate-900 h-20">
    <div class="container mx-auto h-full flex justify-between items-center">
        <div class="text-3xl font-semibold text-green-600 flex animate-pulse">
            <a href="/">Spark</a>
        </div>

        <div class="hidden md:block">
            <ul class="flex items-center gap-4 text-white *:text-xl *:border *:p-2 *:rounded-md *:border-gray-200">
                <li class="hover:bg-blue-400 transition-all delay-100"><a href="/">Home</a></li>
                <li class="hover:bg-blue-400 transition-all delay-100"><a href="/">Add Blog</a></li>
                <li class="hover:bg-blue-400 transition-all delay-100"><a href="">Login</a></li>
            </ul>
        </div>

        <div class="md:hidden relative">
            <button id="navdropdownBtn" class="cursor-pointer" aria-pressed="false"><img width="35" src="/assets/hamburger.svg" alt=""></button>
            <ul id="dropdownLinks" class="flex flex-col bg-slate-900 min-w-[150px] items-center gap-4 text-white *:text-xl  *:p-2 *:rounded-md *:border-gray-200 *:w-full p-3 absolute top-14 right-0 rounded-xl">
                <li class="hover:bg-blue-400 transition-all delay-100"><a  href="/">Home</a></li>
                <li class="hover:bg-blue-400 transition-all delay-100"><a href="/">Add Blog</a></li>
                <li class="hover:bg-blue-400 transition-all delay-100"><a href="">Login</a></li>
            </ul>
        </div>
    </div>

</nav>